*.*
*
!*/
!/nemu/*
!/my_notes/*
!/manual/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!Makefile
!README.md
!.gitignore
!init.sh
!Cachesim/*
!assets/*
/fceux-am
/nvboard
/am-kernels
/yosys-sta
/yosys-opensta
npc/chisel/chisel-empty/*
