*.*
*
!*/
!/nemu/*
!/my_notes/*
!/manual/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!Makefile
!README.md
!.gitignore
!init.sh
/fceux-am
/nvboard
/am-kernels
yosys-sta/*
ysyxSoC/*
npc/chisel/chisel-empty/*
