mainmenu "NPC Configuration Menu"

choice
	prompt "Running mode"
	default BATCH_MODE
config BATCH_MODE
	bool "Running with batch mode"
config SDB_MODE
	bool "Running with sdb mode"
endchoice


menu "Testing and Debugging"


config TRACE
  bool "Enable tracer"
  default y

config TRACE_START
  depends on TRACE
  int "When tracing is enabled (unit: number of instructions)"
  default 0

config TRACE_END
  depends on TRACE
  int "When tracing is disabled (unit: number of instructions)"
  default 10000

config ITRACE
  depends on TRACE
  bool "Enable instruction tracer"
  default y

config ITRACE_COND
  depends on ITRACE
  string "Only trace instructions when the condition is true"
  default "true"

config MTRACE
  depends on TRACE
  bool "Enable memorary tracer"
  default n

config FTRACE
  depends on TRACE
  bool "Enable function tracer"
  default y


config DIFFTEST
  bool "Enable differential testing"
  default n
  help
    Enable differential testing with a reference design.
    Note that this will significantly reduce the performance of NEMU.
endmenu

menu "Memory Configuration"

config MBASE
  hex "Memory base address"
  default 0x0
  default 0x80000000

config MSIZE
  hex "Memory size"
  default 0x8000000

endmenu
